{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Browse Property listings {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse Our Properties</h1>
                <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque dolor eos natus provident quia repudiandae sint ut? Accusamus adipisci dolor eaque eveniet in natus officia omnis quas reiciendis sint.</p>
            </div>
        </div>
    </div>
</section>
<!--Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>
            <li class="breadcrumb-item active"> Browse Listings</li>
        </ol>
    </nav>
    </div>
</section>
{% endblock %}
